@font-face {
  font-family: 'pixel_num';
  src: url('/fonts/pixelcyr-numers-webfont.eot');
  src: url('/fonts/pixelcyr-numers-webfont.eot?#iefix') format('embedded-opentype'),
          url('/fonts/pixelcyr-numers-webfont.woff2') format('woff2'),
          url('/fonts/pixelcyr-numers-webfont.woff') format('woff'),
          url('/fonts/pixelcyr-numers-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}