// LEVEL 1
// USER
user_level1_jump_down = url('/img/girl_sprites/all/jump/jump.png');
user_level1_jump_up = url('/img/girl_sprites/all/jump/jump.png');

//GROUND
ground_level1 = url('/img/tiles/green-block.png');
ground_triangleLeft_level1 = url('/img/tiles/green-block_before.png');
ground_triangleRight_level1 = url('/img/tiles/green-block_after.png');

//block
block_level1 = url('/img/tiles/wall.png');
//bonus
bonus_level1 = url('/img/items/bonus1/bonus_00000.png');
//bg
bg_level1 = url('/img/background/bg_1.jpg');
//lives
live_icon_level1 = url('/img/game-panel/lvl1_icon.png');
//progress_texture
progress_level1 = url('/img/game-panel/bar_1.png');
//level name
level_name_level1 =url('/img/game-panel/lvl1_name.svg');
//FINISH
finish_level1 = url('/img/items/finish/finish_lvl1.png');

// LEVEL 2
// USER
user_level2_jump_down = url('/img/girl_sprites/all/jump/jump.png')
user_level2_jump_up = url('/img/girl_sprites/all/jump/jump.png')

//GROUND
ground_level2 = url('/img/tiles/yellow-block.png');
ground_triangleLeft_level2 = url('/img/tiles/yellow-block_before.png');
ground_triangleRight_level2 = url('/img/tiles/yellow-block_after.png');
//lives
live_icon_level2 = url('/img/game-panel/lvl2_icon.png');

//block
block_level2 = url('/img/tiles/wall.png');
//bonus
bonus_level2 =url('/img/items/bonus1/bonus_00000.png');
//bg
bg_level2 = url('/img/background/bg_2.jpg');
//progress_texture
progress_level2 = url('/img/game-panel/bar_2.png');
//level name
level_name_level2 =url('/img/game-panel/lvl2_name.svg');
//FINISH
finish_level2 = url('/img/items/finish/finish_lvl2.png');

// LEVEL 3
// USER
user_level3_jump_down = url('/img/girl_sprites/all/jump/jump.png')
user_level3_jump_up = url('/img/girl_sprites/all/jump/jump.png')

//GROUND
ground_level3 = url('/img/tiles/pink-block.png');
ground_triangleLeft_level3 = url('/img/tiles/pink-block_before.png');
ground_triangleRight_level3 = url('/img/tiles/pink-block_after.png');

//block
block_level3 = url('/img/tiles/wall.png');
//bonus
bonus1_level3 = url('/img/items/bonus1/bonus_00000.png');
bonus2_level3 = url('/img/items/bonus3/bonus03_00000.png');
//bg
bg_level3 = url('/img/background/bg_3.jpg');
//lives
live_icon_level3 = url('/img/game-panel/lvl3_icon.png');
//progress_texture
progress_level3 = url('/img/game-panel/bar_3.png');
//level name
level_name_level3 =url('/img/game-panel/lvl3_name.svg');
//FINISH
finish_level3 = url('/img/items/finish/finish_lvl3.png');


// LEVEL 4
// USER
user_level4_jump_down = url('/img/girl_sprites/all/jump/jump.png')
user_level4_jump_up = url('/img/girl_sprites/all/jump/jump.png')

//GROUND
ground_level4 = url('/img/tiles/purple-block.png');
ground_triangleLeft_level4 = url('/img/tiles/purple-block_before.png');
ground_triangleRight_level4 = url('/img/tiles/purple-block_after.png');

//block
block_level4 = url('/img/tiles/wall.png');
//bonus
bonus_level4 = url('/img/items/bonus1/bonus_00000.png');
bonus2_level4 = url('/img/items/bonus3/bonus03_00000.png');
bonus3_level4 = url('/img/items/bonus2/bonus02_00000.png');
//bg
bg_level4 = url('/img/background/bg_4.jpg');
//lives
live_icon_level4 = url('/img/game-panel/lvl4_icon.png');
//progress_texture
progress_level4 = url('/img/game-panel/bar_4.png');
//level name
level_name_level4 =url('/img/game-panel/lvl4_name.svg');
//FINISH
finish_level4 = url('/img/items/finish/finish_lvl4.png');

//BANG
bang_levelAll = url('/img/items/bang-seq/bang_sprite.png');

//user dead
userDead_levelAll = url('/img/girl_sprites/all/stand/standBy0001.png');
//girl_run
user_levelAll_run = url(/img/girl_sprites/all/run/baba_sprite.png);
//LEVELS COLORS
color_level1 = #44AD9C;
color_level2 = #B8BA3D;
color_level3 = #E1615D;
color_level4 = #A0497E;

//BARS pattern colors
palette_level1()
  background: rgb(180, 222, 215);
palette_level2()
  background: rgb(219, 220, 158);
palette_level3()
  background: rgb(240, 176, 174);
palette_level4()
  background: rgb(207, 164, 190);
